header {
    display: float;
}

span {
    color: whitesmoke;
    font-size: large;
}
code {
    color: rgb(255, 241, 159);
}

ul {
    list-style-type: none;
    background-color: #525252;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    color: white;
    background-color: #525252;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}
a:hover {
    background-color: #636363;
}

p {
    margin: 0;
}