span {
    color: whitesmoke;
    font-size: large;
}
code {
    color: rgb(255, 241, 159);
}

ul {
    list-style-type: none;
    background-color: rgb(78, 78, 78);
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    float: left;
}

a {
    padding: 8px;
    color: white;
    text-decoration: none;
    display: block;
}
a:hover {
    background-color: #636363;
}






#loginButton {
    float: right;
}

#registerButton {
    float: right;
    font-size: large;
    background-color: #4dcc41;
    border-radius: 0px 0px 0px 8px;
}